/***
 *  Generic CSS Styles
 */
body, html {
	height:100%;
	width:100%;
}

body {
	background: #bbcfd8;
	padding-top: 20px;
}

/***
 *  Content Styles
 */
#center_content {
	width: 800px;
	height: 500px;
	margin: 0 auto;
	padding: 20px;
	background: #fff url(../img/test.9.png) no-repeat -1000px -1000px;
	position: relative;
}

#fork_me {
	position: absolute;
	right: 41px;
	top: 0px;
}
.contributor {
	font-family: Arial;
	height: 40px;
	width: 300px;
	position: relative;
	font-size: 15px;
	padding: 10px 0 0 10px;
	background: #fff url(../img/test_multipart.9.png) no-repeat -1000px -1000px;
}